<!-- <ng-container *ngTemplateOutlet="myTemplate; context: {greeting: 'Hi'}"></ng-container> -->
<ng-container *ngTemplateOutlet="myTemplate"></ng-container>

<ng-template #myTemplate let-greeting="greeting">
  <p appBigAlert>{{greeting ? greeting: "Hello" }} {{name}} </p>
  <div>
    <label for="elementRef" >Input with element ref: </label>
    <input name="elementRef" id="elementRef" #inputElementRef [value]="name" (input)="onChange($event)"/>
    <br />
    <br />
    <label for="twoWayBinding" >Input with two-way-binding ngModel: </label>
    <input name="twoWayBinding" id="twoWayBinding" [value]="name" [(ngModel)]="name"/>
  </div>
</ng-template>
